.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #000;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 20px;
}

main {
    flex: 1;
    padding: 0.5rem;
    margin: 1rem;
}

